@charset "utf-8";
/*-----------------------------------------------------
スタート電気 電力シミュレーション
作成日:2017/11/13
修正日:2017/11/18　：　ＢＩＧ用ページの要素追加
修正日:2017/12/02　：　ページの要素追加
修正日:2018/01/19　：　検針票イメージの横幅がスマートフォンなどの小サイズではみ出ていたので、100%に指定
-----------------------------------------------------*/

/* CAL.htmlと同じフォルダに配置してください */

/* 全体設定 */

body {
	font-size:14px;
	height: auto;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF8EC;
}

#txtPriceQty, #txtUsedPower, #txtCapacity {
    width:140px;
}

/* 料金計算ボタンのデザイン */

#btnCal {
	border: 1px #89BDDE solid;
	border-radius: 5px;
	color: #fff;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
	font-weight: bold;
	margin-bottom:20px;
	padding-top: 0.5em;
	padding-right: 4em;
	padding-bottom: 0.5em;
	padding-left: 4em;
	background-color: #84BC24;
}


/* 表題 */

.header-title {
	margin-bottom:40px;
}
.header-title-big {
	display: block;
	margin-bottom: 40px;
}

h1 {
	font-size:34px;
	color:#333333;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	display: block;
	width: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #84BC24;
}

h2 {
  font-size:20px;
  color:#000000;
}

h3 {
  font-size:20px;
  color:#000000;
}

.caution {
  color:red;
}

/*------------------------------------------------------------------*/

/* 電力会社検針票イメージ */

@media only screen and (max-width: 500px) {
.invoice_sample img{
  width:100%;
}
}

/*------------------------------------------------------------------*/

/* 入力フォーム１・２共通 */

 .input-cal-tbl {
   background-color:#e4f7d0;
 }

 .input-cal-tbl th{
   text-align: left;
   padding: 10px;
 }
 


/* シミュレーション入力１ */
 .cal-input1 {
    float:left;
    width:230px;
    margin-bottom:20px;
 }

 .cal-input1big {
    float:left;
    width:280px;
    margin-bottom:20px;
 }

@media only screen and (max-width: 768px) {
 .cal-input1 {
    float:left;
    width:100%;
    margin-bottom:20px;
}
}

@media only screen and (max-width: 818px) {
 .cal-input1big {
    float:left;
    width:100%;
    margin-bottom:20px;
}
}

/* シミュレーション入力２ */
 
 .cal-input2 {
    margin-bottom:20px;
 }

@media only screen and (max-width: 768px) {
 .cal-input2 {
    width:100%;
    margin-bottom:20px;
}
}

@media only screen and (max-width: 818px) {
 .cal-input2big {
    width:100%;
    margin-bottom:20px;
}
}

/*------------------------------------------------------------------*/


/* 出力フォーム１・２・３共通 結果料金表示 */

#viewUsedMont
/*------------------------------------------------------------------*/

/* 出力フォーム１・２・３共通 結果料金表示 */

#viewUsedMonth, #viewUsedYear, #viewPriceMonth, #viewPriceYear, #viewTotalMonth, #viewTotalYear, #viewTotalDiscount, #viewUsedMonth2, #viewPriceMonth2, #viewUsedYear2, #viewPriceYear2, #viewTotalMonth2, #viewTotalYear2, #viewTotalDiscount2 {
    font-size:20px;
    color:red;
    text-align:right;
}

#viewFuelPrice {
    font-size:16px;
}

/*------------------------------------------------------------------*/

/* シミュレーション結果画面の大枠 */

.simulation-output {
}

/* 出力フォーム１ 現在の電気料金*/

 .output-cal-tbl1 {
    background-color:#e4f7d0;
 }

 .output-cal-tbl1 th{
   text-align: left;
   padding: 10px;
 }
 
 
/* シミュレーション結果１ */

 .cal-output1 {
    float:left;
    margin-right: 10px;
    margin-bottom:20px;
 }

 .cal-output1 table {
     width: 250px;
 }

@media only screen and (max-width: 768px) {
 .cal-output1 {
    margin-bottom:20px;
}
}

/* シミュレーション結果 ※３ */

.cal-output1-memo {
    margin-bottom:20px;
}

/*------------------------------------------------------------------*/

/* 出力フォーム２ 予想した燃料調整*/

 .output-cal-tbl2 {
    background-color:#ffecdd;
 }

 .output-cal-tbl2 th{
   text-align: left;
   padding: 10px;
 }


/* シミュレーション結果２ */
 
 .cal-output2 {
    margin-left: 10px;
    margin-bottom:20px;
 }

 .cal-output2 table {
     width: 250px;
 }
 
@media only screen and (max-width: 768px) {
 .cal-output2 {
    width:100%;
    margin-left: 0px;
    margin-bottom:20px;
}
}

/*------------------------------------------------------------------*/

/* 出力フォーム３ おトク表示 */

 .output-cal-tbl3 {
    background-color:#e4f7d0;
 }

 .output-cal-tbl3  th{
   text-align: left;
   padding: 10px;
 }


/* シミュレーション結果３ */
 
 .cal-output3 {
    margin-bottom:20px;
 }


/*------------------------------------------------------------------*/

/* リスト表示 */

.description {
}

/* 印刷用　用紙サイズはＡ４ */
.paper_wrapper {
	background: #ffffff;
	box-shadow: 0 0.5mm 2mm rgba(0,0,0,0.3);
	margin: 5mm auto;
	width: 210mm;
	height: 296mm;
	page-break-after: always;
}
#contents {
	font-family : "ヒラギノ丸ゴ Pro W4", "Hiragino maru Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "Verdana", "Osaka", sans-serif;
	background-color: #FFFFFF;
	display: block;
	width: 780px;
	height: auto;
	padding-right: 10px;
	padding-left: 10px;
}
#contents #footer {
	clear: both;
	height: 60px;
	width: 780px;
	padding-top: 10px;
	font-family : "ヒラギノ丸ゴ Pro W4", "Hiragino maru Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "Verdana", "Osaka", sans-serif;
	color: #FFFFFF;
	text-align: center;
	display: block;
	font-size: 14px;
	background-color: #84BC24;
}
#contents #footer span {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 1.8em;
}
